<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="UTF-8" />
	<title>Training | Oilfield International</title>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	
	
	
	<!-- CSS
  ================================================== -->
  
  	<!--[if ! lte IE 6]><!-->
  		<link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|PT+Sans+Caption' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/reset.css"/>
		<link rel="stylesheet" href="css/960.css"/>
		<link rel="stylesheet" href="css/oilfield.css"/>
  	<!--<![endif]-->

	<!--[if lte IE 6]>
		<link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
		<link rel="stylesheet" href="css/ie6.css"/>	
	<![endif]-->
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico"/>

</head>

<body>

<div id="access" class="offscreen">
	<ul>
		<li><a href="#mainnavigation" title="Skip to main navigation">Skip to main navigation</a></li>
		<li><a href="#content" title="Skip to content">Skip to content</a></li>
	</ul>
	
</div>

<div id="wrapper">

<div id="header">

	<div class="container_12">
	
		<div class="grid_12">
		
			<div id="logo">

					<a href="index.htm" title="Oilfield International home page"><img src="images/oilfield-international-logo.png" alt="Oilfield International logo" width="500" height="83"/></a>
			</div>

		</div><!--/ end .grid_12 -->
		
		<div class="clear">&nbsp;</div>
		
		<div class="grid_12">

			<div id="mainnavigation">
			
			<ul>
				<li><a href="index.htm">Home</a></li>
				<li class="current"><a href="ourteam.htm">Our team</a></li>
				<li><a href="">Clients</a></li>
				<li><a href="">Services</a>
					<ul>
						<li><a href="">Item 1</a></li>
						<li><a href="">Item 2 with a longer title</a></li>
						<li><a href="">Item 3</a></li>
						<li><a href="">Item 4</a></li>
						<li><a href="">Item 5</a></li>
					</ul>
				
				</li>
				<li><a href="">Case Studies</a></li>
				<li><a href="training.htm">Training</a></li>
				<li><a href="">Presentations</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
			
			</div><!--/ end #mainnavigation -->
			
		</div><!--/ end .grid_12 -->
		
		<div class="clear">&nbsp;</div>

	</div><!--/ end .container_12 -->
	
</div><!--/ end #header -->
	
	<div class="container_12" id="content">
	
		<div class="grid_8">
			<div id="maincontent">
				
				<h1>Our Team</h1>
				
				<div class="section">
				
					<h2><a href="">Tim Lines</a></h2>
					<p class="subtitle">Petroleum Engineer</p>
					<a href=""><img alt="Tim Lines" src="http://oilfieldinternational.com/sites/default/files/styles/medium/public/TimLinesPhoto.JPG" width="150"/></a>
					<p>Tim is an international energy consultant, advising on financial, engineering and economic issues to high net worth individuals; multi-national oil &amp; gas companies, financial institutions and CIS/Eastern European governments. He is a Competent Person for reporting oil and gas volumes and valuations to the LSE and the ASX. He is an expert witness to the UK’s FSA enforcement division.</p>
					
					<p class="readmore"><a href="">Find out more &rarr;</a></p>
					
				</div>
				
				<div class="section">
				
					<h2><a href="">David Curia</a></h2>
					<p class="subtitle">Geophysicist and BD South America</p>
					<a href=""><img alt="David Curia" src="http://oilfieldinternational.com/sites/default/files/styles/medium/public/David%20Foto4x4%20right.jpg" width="150"/></a>
					<p>David Curia (MS Applied Mathematics, MS Geophysics) has a solid geophysical technical experience and a proven career track record. He has strong skills in 2D and 3D seismic interpretation using Petrel, Geoframe, Landmark and Hampson&amp;Russell. He has a good understanding of rock physics and reservoir characterisation from  seismic, including quantitative interpretation techniques, lateral prediction, acoustic and elastic seismic inversion and AVO analysis.</p>
					
					<p class="readmore"><a href="">Find out more &rarr;</a></p>
					
				</div>
				
				<div class="section">
				
					<h2><a href="">Dr Jiri Hruby</a></h2>
					<p class="subtitle">Petrophysicist</p>
					<a href=""><img alt="Dr Jiri Hruby" src="http://oilfieldinternational.com/sites/default/files/styles/medium/public/Jiri%20photo1.jpg" width="150"/></a>
					<p>Jiri (MSc Applied Geophysics &amp; PhD Petrophysics, Univ of Prague) has 15 years of practical experience in Petrophysics and Geology. His specialty is in the interpretation of petroleum well logs, petrophysical studies (Europe, Middle East, N&amp;W&amp;E Africa, North&amp;South America, former USSR).</p>
					
					<p class="readmore"><a href="">Find out more &rarr;</a></p>
					
				</div>
				
				<div class="section">
				
					<h2><a href="">Konstantin Zorbalas</a></h2>
					<p class="subtitle">Production Engineer</p>
					<a href=""><img alt="Konstantin Zorbalas" src="http://oilfieldinternational.com/sites/default/files/styles/medium/public/Konstantin%20Photo%20high%20res.jpg" width="150"/></a>
					<p>Konstantin Zorbalas M.Sc. is a Production Engineer with 20 years' experience focusing on production enhancement techniques and optimization. He is expert in performing feasibility studies of projects, evaluation of capital and operating costs, and process screening for production optimisation. His specific strengths include completion design, stimulation operations, artificial lift, well testing and heavy oil.</p>
					
					<p class="readmore"><a href="">Find out more &rarr;</a></p>
					
				</div>
				
				<div class="section">
				
					<h2><a href="">Victor Ploszkiewicz</a></h2>
					<p class="subtitle">Exploration Geologist</p>
					<a href=""><img alt="Victor Ploszkiewicz" src="http://oilfieldinternational.com/sites/default/files/styles/medium/public/VICTOR%20PZ%20Feb2012.JPG" width="150"/></a>
					<p>Victor has an international reputation as a creative problem-solving geologist with a proven track record as an oilfinder in complex structural settings. He is experienced in geoscience analysis, prospect development and evaluation. He has more than 26 years broad-ranging experience in offshore and onshore Argentine Basins, as well as experience in Russia, Bolivia, Brasil, Colombia, Ecuador, Mexico, Venezuela, Africa, Israel and Foreland Appalachian, basins studies and prospect review.</p>
					
					<p class="readmore"><a href="">Find out more &rarr;</a></p>
					
				</div>
				
				<div class="section">
				
					<h2><a href="">Steven Foster</a></h2>
					<p class="subtitle">Geophysicist</p>
					<a href=""><img alt="Steven Foster" src="http://oilfieldinternational.com/sites/default/files/styles/medium/public/Photo%28Steve%29.jpg" width="150"/></a>
					<p>Steve Foster [USA, BS Geology (UC Davis), MS Earth Science (M.I.T.)] is a petroleum geophysicist.  He spent 25 years with Unocal, 14 of those at overseas postings in Norway, Argentina, Syria, and Thailand doing exploration and development geophysics as a seismic interpreter and District Geophysicist; while with Unocal in Los Angeles he also worked the North Sea, Egypt, Sudan, Japan, and most of Latin America.  Since retiring from Unocal he has had foreign assignments in Mexico and Argentina, and worked onshore Nevada and offshore Namibia.</p>
					
					<p class="readmore"><a href="">Find out more &rarr;</a></p>
					
				</div>
				
				
				
				
				
				
				
			</div><!--/ end #maincontent -->	
		
		</div><!--/ end .grid_8 -->
		
		
		<div class="grid_4">
		
			<div id="secondarycontent">
			
				<div class="widget associates">
			
					<h3><a href="">Associates</a></h3>
						<p>Established in 1990, Oilfield International offers technical, valuation, acquisition and contracts services to oil companies, and to companies entering the oil industry by acquisition or startup.</p>
						<p class="readmore"><a href="">Find out more &rarr;</a></p>
			
				</div><!--/ end .widget -->
		
				<div class="widget company-info">
			
					<h3><a href="">Company information</a></h3>
						<p>Established in 1990, Oilfield International offers technical, valuation, acquisition and contracts services to oil companies, and to companies entering the oil industry by acquisition or startup.</p>
						<p class="readmore"><a href="">Find out more &rarr;</a></p>
			
				</div><!--/ end .widget -->
			
				<div class="widget services">
			
					<h3><a href="">Our services</a></h3>
					<p>Established in 1990, Oilfield International offers technical, valuation, acquisition and contracts services to oil companies, and to companies entering the oil industry by acquisition or startup.</p>
					<p class="readmore"><a href="">Find out more &rarr;</a></p>
			
				</div><!--/ end .widget -->
			
				<div class="widget contact">
			
					<h3><a href="">Contact information</a></h3>
					<p>Established in 1990, Oilfield International offers technical, valuation, acquisition and contracts services to oil companies, and to companies entering the oil industry by acquisition or startup.</p>
					<p class="readmore"><a href="">Find out more &rarr;</a></p>
			
				</div><!--/ end .widget -->
			
			
			</div><!--/ end #secondarycontent -->
			
			
		</div><!--/ end .grid_4 -->
		
		
		<div class="clear">&nbsp;</div>

	</div><!--/ end .container_12 #content -->
	
<div id="footer">
	
	<div class="container_12">	
	
		<div class="grid_4">
			
			<h3>About Oilfield International</h3>
			<ul>
				<li><a href="">Company overview</a></li>
				<li><a href="">Clients</a></li>
				<li><a href="">Services</a></li>
				<li><a href="">Team</a></li>
			</ul>

			
		</div><!--/ end .grid_4 -->
		
		<div class="grid_4">
			
			<h3>Site information</h3>
			<ul>
				<li><a href="">Accessibility</a></li>
				<li><a href="">Privacy Policy</a></li>
				<li><a href="">Site map</a></li>
			</ul>

			
		</div><!--/ end .grid_4 -->
		
		<div class="grid_4">
			
			<h3>Registered address</h3>
			<p>Oilfield International<br/>A street name<br/>A town name<br/>A city name</p>
			<p>Company number: 1234567890</p>

			
		</div><!--/ end .grid_4 -->
		
		<div class="clear">&nbsp;</div>

	
	</div><!--/ end .container_12 -->

</div><!--/ end #footer -->

</div><!--/ end #wrapper -->


<!-- JS
================================================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
		
<!-- End Document
================================================== -->

</body>
</html>